nakupne_centra/SampleData/CentresSampleDataSource/CentresSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.CentresSampleDataSource" targetNamespace="Blend.SampleData.CentresSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CentresSampleDataSource" type="tns:CentresSampleDataSource" />
  <xs:complexType name="CentresSampleDataSource">
    <xs:sequence>
      <xs:element name="Centres" type="tns:Centres" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Centres">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="CentresItem" type="tns:CentresItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CentresItem">
    <xs:sequence>
      <xs:element name="Hours" type="tns:Hours" />
    </xs:sequence>
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute name="LogoBig" type="tns:Basic-Image" />
    <xs:attribute name="LogoSmall" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:complexType name="Hours">
    <xs:attribute blend:Format="Time" name="Monday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Tuesday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Wednesday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Thursday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Friday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Saturday" type="xs:string" />
    <xs:attribute blend:Format="Time" name="Sunday" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>